:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-title-color: #ffffff;
  --accent-color: #18a0fb;
  --primary_bg_color: #2f303a;
  --secondary-bg-color: #ffffff;
  --third-bg-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/*-----------------Logo------------------*/
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.logo .web {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

/*------------Site nav-------------*/
.site-nav-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.site-nav-list .link:hover {
  color: var(--accent-color);
}
.site-nav-list .link:focus {
  color: var(--accent-color);
}
.site-nav-list .current {
  color: var(--accent-color);
}

/*-------------Contacts-------------*/
.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.mail:hover {
  color: #2196f3;
}
.mail:focus {
  color: #2196f3;
}

.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.tel:hover {
  color: #2196f3;
}
.tel:focus {
  color: #2196f3;
}

/*--------------Герой---------------*/
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: var(--third-bg-color);
  border-style: none;
  cursor: pointer;
}

.btn:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}
.hero-title .bg {
  background: var(--primary_bg_color);
}
.hero-title-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background: #2196f3;
  border-style: none;
  cursor: pointer;
}
.hero-title-btn:hover {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/*------------Особенности-----------*/
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*-------Чем мы занимаемся-------*/
.title-hidden {
  visibility: hidden;
}

/*--------------Команда-----------*/
.team-item-bg {
  background: var(--secondary-bg-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team-bg {
  background: var(--third-bg-color);
}

/*-----------Футер-----------*/
.bg {
  background: var(--primary_bg_color);
}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
